/***** BASE STYLES *****/

body{
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    
}
/***** GRID *****/
.full-width{
    width: 1240px;
}

.half-width{
    width: 620px;
    float: left;
}

.third-width{
    border-top: 1px solid #dedbdc;
    border-bottom: 1px solid #dedbdc;
    float: left;
    height: 210px;
    width: 400px;
    
}

/****** HEADER ******/

header{
    margin-top: 40px;
}
header h1{
    color: #000000;
    line-height: 23px;
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
    text-transform: uppercase;
}

nav{
    float: right;
}

nav ul li{
    display: inline-block;
    padding-left: 25px;
}

nav ul li a {
    color: #77a466;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-decoration: none;
    text-transform: uppercase;
}

span{
    color: #77a466;
}

/*****IMAGE*****/
img{
    border-top: 3px solid #77a466;
    border-bottom: 3px solid #77a466;
    margin: 20px;
}

/***** ABOUT *****/

#about{
    margin-left: 20px;
}

#about h2{
    color: #77a466;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
}


#about p{
    height: 80px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    width: 1176px;
}

/***** BOTTOM *****/

#bottom{
    margin-left: 20px;
}

.third-width h3{
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}

.third-width p{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding: 0px 30px;
}


#specials{
    padding-left: 0;
}

#specials li{
    color: #77a466;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 20px;
    }


#reviews{
    border-left: 1px solid #dedbdc;
    border-right: 1px solid #dedbdc;
}

#reviews h3, #locations h3{
    padding-left: 30px;
}

footer{
    clear: both;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    margin-right: 640px;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
    
}
footer span {
    font-family: Wisdom Script, cursive;
    font-weight: lighter;
    text-transform: lowercase;